@font-face {
    font-family: 'GeneralSans-Variable';
    src: url(font/GeneralSans-Variable.ttf);
}
body {
    font-family:'GeneralSans-Variable';
    /* height: 900vh; */
    
    overflow-x: hidden;
}
.nav-item a {
    color: #000;
    font-size: 16px;
    /* font-weight: 500; */
    line-height: 21.6px;
}
/* @media (max-width:1200px) and (min-width: 992px){
    .section1 img {
        width: 500px;
    }
    .section1 h1 {
        font-size: 20px;
    }
    .section1 p {
        font-size:15px ;
    }
} */